<style>
    @font-face {
        font-family: "Whitney";
        src: url("{{ url_for('static', filename='whitney.woff') }}") format('woff');
    }
</style>
<div class="game-panel">
    <div class="game-grid discord">
        <div class="player">
            <img src="https://cdn.discordapp.com/avatars/{{ record["discord_id"] }}/{{ record["avatar_hex"] }}" class="player-image" alt="">
            <span class="player-name">{{ record["name"] }}#{{ record["discriminator"] }}</span>
        </div>
        {% if record["last_song"] %}
            <div class="game-title last-video">Ultima canzone</div>
            <div class="game-score last-video" title="{{ record["last_song"] }}">
                <a href="https://www.youtube.com/results?sp=EgIQAQ%253D%253D&search_query={{ record["last_song"] }}">{{ record["last_song"] }}</a>
            </div>
            <div class="game-extra last-video">{{ record["last_play_time"].strftime('%Y-%m-%d %H:%M:%S %Z') }}</div>
        {% else %}
            <div class="game-title last-video none">Ultima canzone</div>
            <div class="game-score last-video none">
                Nessuna
            </div>
        {% endif %}
        {% if record["fav_song"] %}
            <div class="game-title fav-video"><a href="{{ url_for("page_music_individual", discord_id=record["discord_id"]) }}">Canzone preferita</a></div>
            <div class="game-score fav-video" title="{{ record["fav_song"] }}">
                <a href="https://www.youtube.com/results?sp=EgIQAQ%253D%253D&search_query={{ record["fav_song"] }}">{{ record["fav_song"] }}</a>
            </div>
            <div class="game-extra fav-video">{{ record["max_plays"] }}x</div>
        {% else %}
            <div class="game-title fav-video none">Canzone preferita</div>
            <div class="game-score fav-video none">
                Nessuna
            </div>
        {% endif %}
    </div>
</div>
