<style>
@font-face {
    font-family: "Radiance";
    src: url("http://cdn.dota2.com/apps/dota2/fonts/radiance.eot?#iefix") format("embedded-opentype"), url("http://cdn.dota2.com/apps/dota2/fonts/radiance.woff") format("woff"), url("http://cdn.dota2.com/apps/dota2/fonts/radiance.ttf") format("truetype"), url("http://cdn.dota2.com/apps/dota2/fonts/radiance.svg#ywftsvg") format("svg");
    font-style: normal;
    font-weight: normal;
}
</style>
<div class="game-panel">
    <div class="game-grid dota">
        <div class="player">
            <a href="https://www.opendota.com/players/{{ dota.steam.to_steam_id_3(dota.steam.steam_id) }}">
                <img src="{{ dota.steam.avatar_url() }}" class="player-image">
                <span class="player-name">{{ dota.steam.persona_name }}</span>
            </a>
        </div>
        <div class="game-title wins">
            Vittorie
        </div>
        <div class="game-score wins">
            <span>{{ dota.wins }}</span>
        </div>
        <div class="rank">
            {% if dota.rank_tier is none %}
                <img class="medal" src="https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_0.png">
                <span class="text">Non classificato</span>
            {% elif dota.rank_tier < 10 %}
                <img class="medal" src="https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_0.png">
                <span class="text">{{ dota.rank_tier }} piazzamenti completati</span>
            {% else %}
                <img class="medal" src="{{ dota.get_rank_icon_url() }}">{% if dota.get_rank_stars_url() %}<img class="stars" src="{{ dota.get_rank_stars_url() }}">{% endif %}
                <span class="text">{{ dota.get_rank_name() }}[{{ dota.get_rank_number() }}]</span>
            {% endif %}
        </div>
    </div>
</div>