<style>
    @font-face {
        font-family: "Radiance";
        src: url("{{ url_for('static', filename='radiancedota.ttf') }}");
        font-style: normal;
        font-weight: normal;
    }
</style>
<div class="game-panel">
    <div class="game-grid dota">
        <div class="player">
            <a href="https://www.opendota.com/players/{{ record.steam.to_steam_id_3(record.steam.steam_id) }}">
                <img src="{{ record.steam.avatar_url() }}" class="player-image" alt="">
                <span class="player-name">{{ record.steam.persona_name }}</span>
            </a>
        </div>
        <div class="game-title wins">
            VITTORIE
        </div>
        <div class="game-score wins">
            <span>{{ record.wins }}</span>
        </div>
        <div class="rank">
            {% if (record.wins + record.losses) < 100 %}
                <img class="medal locked" src="{{ url_for("static", filename="rank_icon_locked.png") }}" alt="">
                <span class="text">{{ 100 - record.wins - record.losses }} partite rimaste</span>
            {% elif record.rank_tier is none %}
                <img class="medal unranked" src="https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_0.png" alt="">
                <span class="text">Non classificato</span>
            {% elif record.rank_tier < 10 %}
                <img class="medal unranked" src="https://www.opendota.com/assets/images/dota2/rank_icons/rank_icon_0.png" alt="">
                <span class="text">{{ record.rank_tier }} piazzamenti completati</span>
            {% else %}
                <img class="medal" src="{{ record.get_rank_icon_url() }}" alt="">{% if record.get_rank_stars_url() %}<img class="stars" src="{{ record.get_rank_stars_url() }}" alt="">{% endif %}
                <span class="text">{{ record.get_rank_name() }}[{{ record.get_rank_number() }}]</span>
            {% endif %}
        </div>
    </div>
</div>
