<div class="game-panel">
    <div class="game-grid gamelog">
        <div class="player">
            <span class="player-name">{{ record.username }}</span>
        </div>
        <div class="game-title games-owned">
            Posseduti
        </div>
        <div class="game-score games-owned">
            {{ record.owned_games }}
        </div>
        <div class="game-title games-beaten">
            Finiti
        </div>
        <div class="game-score games-beaten">
            {{ record.beaten_games }}
        </div>
        <div class="game-title games-completed">
            Completati
        </div>
        <div class="game-score games-completed">
            {{ record.completed_games }}
        </div>
    </div>
</div>
