<div class="game-panel">
    <div class="game-grid halloweenmini">
        <div class="player">
            <span class="player-name">{{ record.royal.username }}</span>
        </div>
        <div class="game-title mysterystatus">
            Lune ottenute
        </div>
        <div class="game-score mysterystatus">
            {% for index in range(7) %}
                {% if record[index + 1] %}
                    <i class="fas fa-moon done"></i>
                {% else %}
                    <i class="far fa-moon todo"></i>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
