<div class="game-panel">
    <div class="game-grid halloweenmini">
        <div class="player">
            <span class="player-name">Rituale di Halloween</span>
        </div>
        <div class="game-title moons">
            Lune ottenute
        </div>
        <div class="game-score moons">
            {% for index in range(10) %}
                {% if halloween[index] %}
                    <a href="/ritual/{{ index + 1 }}" title="Luna {{ index + 1 }} ottenuta!"><i class="fas fa-moon"></i></a>
                {% else %}
                    <a href="/ritual/{{ index + 1 }}" title="Rituale {{ index + 1 }}"><i class="far fa-moon"></i></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
