<div class="game-panel">
    <div class="game-grid osu">
        <div class="background-image"></div>
        <div class="background-color"></div>
        <div class="player">
            <a href="https://record.ppy.sh/users/{{ record.osu_id }}">
                <img src="https://a.ppy.sh/{{ record.osu_id }}" class="player-image">
                <span class="player-name">{{ record.osu_name }}</span>
            </a>
        </div>
        <div class="game-title standard">
            osu!
        </div>
        <div class="game-score standard">
            <span class="number">{{ record.std_pp | int }}</span><span class="pp">pp</span>
        </div>
        <div class="game-title taiko">
            osu!taiko
        </div>
        <div class="game-score taiko">
            <span class="number">{{ record.taiko_pp | int }}</span><span class="pp">pp</span>
        </div>
        <div class="game-title catch">
            osu!catch
        </div>
        <div class="game-score catch">
            <span class="number">{{ record.catch_pp | int }}</span><span class="pp">pp</span>
        </div>
        <div class="game-title mania">
            osu!mania
        </div>
        <div class="game-score mania">
            <span class="number">{{ record.mania_pp | int }}</span><span class="pp">pp</span>
        </div>
    </div>
</div>