<style>
@font-face {
  font-family: FuturaNo2D;
  src: url("https://d3hmvhl7ru3t12.cloudfront.net/fonts/FuturaNo2D-DemiBold-6bcaf79a95daaac7cb0a86449fa6c6f0d6dd222878eef52c61f7ed10037631c8b6ca8442408276e82b04d1a4bf6db3e18bca760ac182a81d08cbf7924e1dfb4b.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
</style>
<div class="game-panel">
    <div class="game-grid ow">
        <div class="player">
            <a href="https://playoverwatch.com/en-us/career/pc/eu/{{ record.__str__(separator='-') }}">
                <img src="{{ record.icon_url() }}" class="player-image">
                <span class="player-name">{{ record }}</span>
            </a>
        </div>
        <div class="game-title level">
            Livello
        </div>
        <div class="game-score level">
            <span>{{ record.level }}</span>
        </div>
        <div class="rank">
            {% if record.rank is none %}
                <div class="icon unranked"></div>
                <span class="text unranked">Non classificato</span>
            {% else %}
                <img class="icon ranked" src="{{ record.rank_url() }}">
                <span class="text ranked">{{ record.rank }}</span>
            {% endif %}
        </div>
    </div>
</div>