<style>
    @import url('https://fonts.googleapis.com/css?family=Exo+2');
</style>
<div class="game-panel">
    <div class="game-grid rl">
        <div class="player">
            <a href="https://rocketleaguestats.com/profile/steam/{{ record.steam.steam_id }}">
                <img src="{{ record.steam.avatar_url() }}" class="player-image">
                <span class="player-name">{{ record.steam.persona_name }}</span>
            </a>
        </div>
        <div class="game-title duel">
            DUELLO
        </div>
        <div class="game-score duel">
            <img src="{{ record.solo_rank_image() }}" title="{{ record.single_mmr }} MMR">
        </div>
        <div class="game-title doubles">
            DOPPIO
        </div>
        <div class="game-score doubles">
            <img src="{{ record.doubles_rank_image() }}" title="{{ record.doubles_mmr }} MMR">
        </div>
        <div class="game-title standard">
            STANDARD
        </div>
        <div class="game-score standard">
            <img src="{{ record.standard_rank_image() }}" title="{{ record.standard_mmr }} MMR">
        </div>
        <div class="game-title solostd">
            SOLO STD
        </div>
        <div class="game-score solostd">
            <img src="{{ record.solo_std_rank_image() }}" title="{{ record.solo_std_mmr }} MMR">
        </div>
    </div>
</div>
