<div class="game-panel">
    <div class="game-grid ryg">
        <div class="player">
            <img class="player-image gravatar" src="{{ record.get_gravatar_url() }}"> <span class="player-name"><a href="https://ryg.steffo.eu/profile/{{ record.username }}">{{ record.username }}</a></span>
        </div>
        <div class="member-status">
            <span class="role">{{ record.role }}</span> dal <span class="member-since">{% if record.member_since %}{{ record.member_since }}{% else %}????-??-??{% endif %}</span>
        </div>
        <div class="game-title fiorygi">
            Fiorygi
        </div>
        <div class="game-score fiorygi">
            {{ record.fiorygi }}
        </div>
    </div>
</div>
