from typing import *
import royalnet
import royalnet.commands as rc


#set($CAPITALIZED_NAME = $NAME.substring(0,1).toUpperCase() + $NAME.substring(1))
class ${CAPITALIZED_NAME}Command(rc.Command):
    name: str = "$NAME"

    description: str = ""

    syntax: str = ""

    async def run(self, args: rc.CommandArgs, data: rc.CommandData) -> None:
        ...
