from typing import *
import royalnet
import royalnet.commands as rc


#set($CAPITALIZED_NAME = $NAME.substring(0,1).toUpperCase() + $NAME.substring(1))
class ${CAPITALIZED_NAME}Event(Event):
    name = "$NAME"

    async def run(self, **kwargs) -> dict:
        ...
