@background-color: #0d193b;
@text-color: #a0ccff;
@accent-color: white;

body {
    font-family: sans-serif;
    color: @text-color;
    background-color: @background-color;
}

h1, h2, h3, h4, h5, h6 {
    color: @accent-color;
}

input[type="text"], input[type="password"] {
    background-color: rgba(red(@text-color), green(@text-color), blue(@text-color), 0.1);
    color: @text-color;
    border: none;
    border-bottom: 1px dashed @text-color;
    padding: 2px;
    margin: 1px;
    font-size: medium;
    font-family: sans-serif;
}

.input-grid {
    display: grid;

    label {
        margin: 3px;
        grid-column: 1;
        max-width: 120px;
    }

    input {
        grid-column: 2;
    }
}

.game-panel {
    display: inline-block;
}

.game-grid {
    display: grid;
    width: 360px;
    height: 100px;
    border-radius: 10px;
    margin: 4px;
    position: relative;

    .game-title {
        grid-row: 2;
        font-size: smaller;
    }

    .game-score {
        grid-row: 3;
    }

    .player {
        grid-row: 1;
        font-size: large;

        a {
            text-decoration: none;
        }

        .player-image {
            width: 32px;
            height: 32px;
            vertical-align: middle;
        }
    }
}

.osu {
    font-family: 'Exo 2', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: italic;
    border: 8px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    grid-row-gap: 5px;
    grid-template-columns: 25% 25% 25% 25%;

    .background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url("https://osu.ppy.sh/images/layout/nav-backgrounds/triangles-combined.png");
        z-index: -2;
    }

    .background-color {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(187, 17, 119, 0.9);
        z-index: -1;
    }

    .player {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 4;

        .player-image {
            border-radius: 16px;
        }

        .player-name {
            color: #ffffff;
        }
    }

    .game-title {
        font-style: normal;
    }

    .standard {
        grid-column: 1;
    }

    .taiko {
        grid-column: 2;
    }

    .catch {
        grid-column: 3;
    }

    .mania {
        grid-column: 4;
    }

    .number {
        font-size: large;
    }

    .pp {
        font-size: x-small;
    }
}

.rl {
    background-image: linear-gradient(to bottom,rgba(35,91,139,.5),rgba(16,54,84,.5)),
                      linear-gradient(to right,rgba(35,91,139,.7),rgba(16,54,84,.7));
    grid-template-columns: 25% 25% 25% 25%;
    padding: 18px;
    grid-row-gap: 5px;

    .player {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 4;

        .player-name {
            color: #ffffff;
            text-shadow: 2px 2px 8px #359ef2, -2px 2px 8px #359ef2, 2px -2px 8px #359ef2, -2px -2px 8px #359ef2;
        }
    }

    .game-title {
        text-align: center;
        color: #41abfa;
        text-shadow: 2px 2px 8px #235b8b, -2px 2px 8px #235b8b, 2px -2px 8px #235b8b, -2px -2px 8px #235b8b;
    }

    .game-score img {
        height: 36px;
        display: block;
        margin: auto;
    }

    .duel {
        grid-column: 1;
    }

    .doubles {
        grid-column: 2;
    }

    .standard {
        grid-column: 3;
    }

    .solostd {
        grid-column: 4;
    }

}

.dota {
    padding: 15px;
    border: 3px solid #000000;
    grid-row-gap: 5px;
    grid-template-columns: 25% 75%;
    font-family: "Radiance", sans-serif;
    background-image: linear-gradient(to bottom, #440b0b, #631013);
    color: #ffffff;

    .player {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;

        .player-name {
            color: #ffffff;
        }
    }

    .game-score.wins {
        font-size: x-large;
    }

    .wins {
        grid-column: 1;
        text-align: center;
    }

    .rank {
        grid-column: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        margin-top: auto;
        margin-bottom: auto;

        img {
            vertical-align: middle;
        }

        img.stars {
            position: relative;
            height: 60px;
            left: -60px;
            margin-right: -60px;
            z-index: 1;
        }

        img.medal {
            height: 60px;
        }
    }
}

.lol {
    font-family: "BeaufortLoL", "Times New Roman", serif;
    padding: 15px;
    color: #c9aa71;
    border: 3px solid #463714;
    background-color: #010a13;
    grid-row-gap: 5px;
    grid-template-columns: 40% 20% 20% 20%;

    .player {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 4;

        .player-image {
            border-radius: 16px;
        }
    }

    .level {
        grid-column: 1;
    }

    .game-score.level {
        font-size: x-large;
    }

    .soloq {
        grid-column: 2;
    }

    .flexq {
        grid-column: 3;
    }

    .twtrq {
        grid-column: 4;
    }

    .game-title {
        text-align: center;
    }

    .game-score {
        text-align: center;
        margin: auto;
    }

    .rank {
        height: 40px;
    }
}

.steam {
    font-family: "Motiva Sans", sans-serif;
    padding: 18px;
    background: url("https://steamstore-a.akamaihd.net/public/images/v6/colored_body_top2.png?v=2") center;

    .player .player-name {
        grid-row: 1;
        grid-column: 1;
        color: #ffffff;
    }

    .buttons {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .game-banner {
        grid-row: 1;
        grid-column: 2;
        text-align: right;

        img {
            height: 58px;
            border-radius: 4px;
        }
    }

    a {
        text-decoration: none;
        display: inline-block;
    }

    .button {
        background-color: rgba(0,0,0,0.4);
        color: #9e9d9b;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button:hover, .button:active {
        background-color: rgba(102,192,244,0.4);
        color: #ffffff;
    }
}

#edit-css {
    font-size: medium;
}