@background-color: #0d193b;
@text-color: #a0ccff;
@accent-color: white;

body {
    font-family: sans-serif;
    color: @text-color;
    background-color: @background-color;
}

h1, h2, h3, h4, h5, h6 {
    color: @accent-color;
}

input[type="text"], input[type="password"] {
    background-color: rgba(red(@text-color), green(@text-color), blue(@text-color), 0.1);
    color: @text-color;
    border: none;
    border-bottom: 1px dashed @text-color;
    padding: 2px;
    margin: 1px;
    font-size: medium;
    font-family: sans-serif;
}

.input-grid {
    display: grid;

    label {
        margin: 3px;
        grid-column: 1;
        max-width: 120px;
    }

    input {
        grid-column: 2;
    }
}

.game-panel {
    display: grid;
    max-width: 400px;
    position: relative;
    border-radius: 10px;
    height: 100px;
    margin: 4px;
}

.osu {
    font-family: 'Exo 2', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: italic;
    border: 8px solid #ffffff;
    color: #ffffff;
    padding: 10px;
    grid-row-gap: 5px;

    .background-image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url("https://osu.ppy.sh/images/layout/nav-backgrounds/triangles-combined.png");
        z-index: -2;
    }

    .background-color {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(187, 17, 119, 0.9);
        z-index: -1;
    }

    .player {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: large;

        a {
            text-decoration: none;
        }

        .player-image {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            vertical-align: middle;
        }

        .player-name {
            color: #ffffff;
        }
    }

    .game-title {
        grid-row: 2;
        font-size: smaller;
        font-style: normal;
    }

    .game-score {
        grid-row: 3;
    }

    .standard {
        grid-column: 1;
    }

    .taiko {
        grid-column: 2;
    }

    .catch {
        grid-column: 3;
    }

    .mania {
        grid-column: 4;
    }

    .number {
        font-size: large;
    }

    .pp {
        font-size: x-small;
    }
}

.rl {
    background-image: linear-gradient(to bottom,rgba(35,91,139,.5),rgba(16,54,84,.5)),
                      linear-gradient(to right,rgba(35,91,139,.7),rgba(16,54,84,.7));
    padding: 18px;
    grid-row-gap: 5px;

    .player {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: large;

        a {
            text-decoration: none;
        }

        .player-image {
            width: 32px;
            height: 32px;
            vertical-align: middle;
        }

        .player-name {
            vertical-align: middle;
            color: #ffffff;
        }
    }

    .game-title {
        grid-row: 2;
        font-size: smaller;
        text-align: center;
        color: #41abfa;
    }

    .game-score {
        grid-row: 3;

        img {
            height: 36px;
            display: block;
            margin: auto;
        }
    }

    .duel {
        grid-column: 1;
    }

    .doubles {
        grid-column: 2;
    }

    .standard {
        grid-column: 3;
    }

    .solostd {
        grid-column: 4;
    }

}