{% extends 'base.html' %}

{% block pagetitle %}
    Internal Server Error
{% endblock %}

{% block body %}
    <h1>
        500 - Internal Server Error
    </h1>
    <p>
        Il server è crashato mentre cercava di generare questa pagina. Oops.
    </p>
    <blockquote class="entry">
        <div class="left">
            <p>
                <span class="text">I am sorry, unknown error occured during working with your request, Admin were notified</span>
            </p>
            <p>
                <cite>— <a class="author" href="https://github.com/ProtoxiDe22/Octeon">OcteonRygBot</a>, <span class="timestamp">2017-09-14 14:11:00</span></cite>
            </p>
        </div>
    </blockquote>
    <p>
        L'errore <i>dovrebbe</i> essere stato segnalato a Steffo.
        Se riesci e ne hai voglia, spiegagli cosa ha provocato l'errore.
    </p>
{% endblock %}