{% extends 'base.html' %}

{% block pagetitle %}
    Internal Server Error
{% endblock %}

{% block body %}
    <h1>
        500 - Internal Server Error
    </h1>
    <p>
        Il server è crashato mentre cercava di generare questa pagina. Oops.
    </p>
    <blockquote>
        <p>
            I am sorry, unknown error occured during working with your request, Admin were notified
        </p>
    </blockquote>
    <p>
        L'errore <i>dovrebbe</i> essere stato segnalato a Steffo.
        Se riesci e ne hai voglia, spiegagli anche cosa ha provocato l'errore.
    </p>
    <i>@OcteonRygBot, 2017</i>
{% endblock %}