<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block pagetitle %}{% endblock %} - Royal Games</title>
        {% block prehead %}{% endblock %}
        <link href="{{ url_for('static', filename='nryg.less') }}" rel="stylesheet/less" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
        {% block posthead %}{% endblock %}
    </head>
    <body>
        <nav>
            <div class="left">
                <b>Royalnet</b>
                <a href="/">Home</a>
            </div>
            <div class="right">
                <span class="login-status">
                    {% if session.get('username') is not none %}
                        <a href="/profile/{{ session.get('username') }}">{{ session.get('username') }}</a>
                        <a class="button" href="/logout">Logout</a>
                    {% else %}
                        <a class="button" href="/login">Login</a>
                    {% endif %}
                </span>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>