<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block pagetitle %}{% endblock %} - Royal Games</title>
        {% block prehead %}{% endblock %}
        <link href="{{ url_for('static', filename='nryg.less') }}" rel="stylesheet/less" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
        {% block posthead %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <iframe src="https://free.timeanddate.com/countdown/i6blbo4n/n3281/cf12/cm0/cu4/ct0/cs0/ca0/co1/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs100/szw576/szh243/tatInizio%20server%20di%20Terraria%20in/tac000/tptSteffo%20%C3%A8%20in%20ritardo%20di/tpc000/iso2018-07-12T10:00:00" allowTransparency="true" frameborder="0" width="421" height="87"></iframe>
    </body>
</html>