<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 1 - RYG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='royal.css') }}">
</head>
<body>
    <div class="container">
        <h1>
            La Sfida di questa settimana
        </h1>
        <h2>
            Raggiungiamo i {{ target }}pp di gruppo su osu!
        </h2>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ (result-starting) / (target-starting) * 100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</body>
</html>