<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 1 - RYG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='royal.css') }}">
</head>
<body>
    <div class="container">
        <h1>
            Royal Challenge
        </h1>
        <h2>
            La Prima Sfida
        </h2>
        <p>
            L'obiettivo di questa settimana sarà di raggiungere {{ (target) | int }}pp totali su osu! Ovvero, di guadagnare <b>{{ (target-starting) | int }}pp</b> in qualsiasi modalità partendo da adesso.
        </p>
        <p>
            <small>
                Più che altro è per provare una roba con il database della Royal Games, però sarebbe bello che tutti provassero a fare qualche pp...
            </small>
        </p>
        <div class="progress challenge-bar">
            <div class="progress-bar challenge-bar" role="progressbar" style="width: {{ ((result-starting) / (target-starting) * 100) | int }}%">
                {{ (result-starting) | int }}pp
            </div>
        </div>
    </div>
</body>
</html>