{% extends 'base.html' %}

{% block prehead %}
    <meta name="description" content="La Royal Games su {{ game_name }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}

{% block pagetitle %}
    {{ game_name }}
{% endblock %}

{% block body %}
    <h1>
        Royal Games su {{ game_name }}
    </h1>
    <div class="game-panels">
        {% for mini in minis %}
            {% with record = mini %}
                {% include "minis/" + game_short_name + ".html" %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}