{% extends 'base.html' %}

{% block prehead %}
    <meta name="description" content="La Royal Games su {{ game_name }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}

{% block pagetitle %}
    {{ mini_type._mini_full_name }}
{% endblock %}

{% block body %}
    <h1>
        Royal Games su {{ mini_type._mini_full_name }}
    </h1>
    <div class="game">
        <div class="game-panels">
            {% for record in mini_data %}
                {% include "minis/" + mini_type._mini_name + ".html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}