{% extends 'base.html' %}

{% block pagetitle %}
    Login
{% endblock %}

{% block body %}
    <h1>
        Login
    </h1>
    <form class="input-grid" action="{{ url_for('page_loggedin') }}" method="POST">
        <label id="label-username" for="input-username">
            Username
        </label>
        <input id="input-username" name="username" type="text">
        <label id="label-password" for="input-password">
            Password
        </label>
        <input id="input-password" name="password" type="password">
        <input type="submit" value="Login">
    </form>
    <p>
        Se ti sei dimenticato la password, chiedi a Steffo di resettarla!
    </p>
{% endblock %}