{% extends 'base.html' %}

{% block pagetitle %}
    Royal Games
{% endblock %}

{% block body %}
    <h1>
        Login
    </h1>
    <form action="{{ url_for('page_loggedin') }}" method="POST">
        <label id="label-username">
            Username
            <input id="input-username" name="username" type="text">
        </label>
        <label id="label-password">
            Password
            <input id="input-password" name="password" type="password">
        </label>
        <input type="submit" value="Login">
    </form>
{% endblock %}