<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ladders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
        body {
            background-color: black;
            color: white;
        }

        .table * * {
            border-color: #333333 !important;
        }

        .rl-rank {
            height: 48px;
        }

        .rl-name {
            height: 48px;
            line-height: 48px;
        }
    </style>
</head>
<body>
    <div class="containter-fluid">
        <h1>
            Dota 2
        </h1>
        {% with query=dota %}
            {% include 'table.htm' %}
        {% endwith %}
        <h1>
            Rocket League
        </h1>
        {% with query=rl %}
            {% include 'rl_table.htm' %}
        {% endwith %}
        <h1>
            Osu!
        </h1>
        {% with query=osu %}
            {% include 'table.htm' %}
        {% endwith %}
    </div>
</body>
</html>