{% extends 'base.html' %}

{% block pagetitle %}
    Pagina principale
{% endblock %}

{% block body %}
    <h1>
        Royal Games
    </h1>
    <p>
        Benvenuto al sito web della Royal Games! E' ancora un po' triste e spoglio, ma spero che collaboriate a migliorarlo!
    </p>
    <p>
        Attualmente, sto sviluppando i <b>profili RYG</b>!
    </p>
    <ul>
        {% for user in royals %}
            <li><a href="/profile/{{ user.username }}">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}