{% extends 'base.html' %}

{% block pagetitle %}
    Royal Games
{% endblock %}

{% block body %}
    <h1>
        Profilo di {{ royal.username }}
    </h1>
    {% if steam %}
        {% include "minis/steam.html" %}
    {% endif %}
    {% if rl %}
        {% include "minis/rl.html" %}
    {% endif %}
    {% if dota %}
        {% include "minis/dota.html" %}
    {% endif %}
    {% if osu %}
        {% include "minis/osu.html" %}
    {% endif %}
    {% if lol %}
        {% include "minis/lol.html" %}
    {% endif %}
{% endblock %}