{% extends 'base.html' %}

{% block prehead %}
    <meta name="description" content="Profilo Royalnet di {{ ryg.username }}">
{% endblock %}

{% block pagetitle %}
    {{ ryg.username }}
{% endblock %}

{% block posthead %}
    {% if css %}
        <style>
            {% autoescape false %}
                {{ css.css }}
            {% endautoescape %}
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>
        Profilo di {{ ryg.username }} {% if session.get('user_id', '') == ryg.id %}<a href="{{ url_for('page_editprofile') }}" id="edit-css">Modifica</a>{% endif %}
    </h1>
    {% if css.bio %}
        <div class="box">
            <div class="upper-box">
                Bio
            </div>
            <div class="lower-box">
                {{ bio }}
            </div>
        </div>
    {% endif %}
    <div class="game-panels">
        {% with record = ryg %}
            {% include "minis/ryg.html" %}
        {% endwith %}
        {% if tg %}
            {% with record = tg %}
                {% include "minis/tg.html" %}
            {% endwith %}
        {% endif %}
        {% if discord %}
            {% with record = discord %}
                {% include "minis/discord.html" %}
            {% endwith %}
        {% endif %}
        {% if steam %}
            {% with record = steam %}
                {% include "minis/steam.html" %}
            {% endwith %}
        {% endif %}
        {% if dota %}
            {% with record = dota %}
                {% include "minis/dota.html" %}
            {% endwith %}
        {% endif %}
        {% if rl %}
            {% with record = rl %}
                {% include "minis/rl.html" %}
            {% endwith %}
        {% endif %}
        {% if osu %}
            {% with record = osu %}
                {% include "minis/osu.html" %}
            {% endwith %}
        {% endif %}
        {% if lol %}
            {% with record = lol %}
                {% include "minis/lol.html" %}
            {% endwith %}
        {% endif %}
        {% if ow %}
            {% with record = ow %}
                {% include "minis/ow.html" %}
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}