<table class="table">
    <thead>
        <tr>
            {% for column in query.keys() %}
                <th>
                    {{ column }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for record in query %}
            <tr>
                {% for column in record %}
                    <td>
                        {% if column %}
                            {{ column }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>