{% extends 'base.html' %}

{% block pagetitle %}
    File più ascoltati {% if discord %}di {{ discord }}{% endif %}
{% endblock %}

{% block body %}
    <h1>
        File più ascoltati {% if discord %}di {{ discord }}{% endif %}
    </h1>
    <table>
        <thead>
            <tr>
                <th>File</th>
                <th>Conteggio</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td><a href="https://www.youtube.com/results?sp=EgIQAQ%253D%253D&search_query={{ song[0] }}">{{ song[0] }}</a></td>
                    <td>{{ song[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}