<div class="event">
    {% if event.time_left.days >= 1 %}
        <div class="time date">
            {{ event.time.strftime('%Y-%m-%d %H:%M') }}
        </div>
    {% else %}
        <div class="time remaining">
            {{ (event.time_left.total_seconds() // 3600) | int }}h {{ ((event.time_left.total_seconds() % 3600) // 60) | int }}m
        </div>
    {% endif %}
    <div class="name">
        {{ event.name }}
    </div>
    <div class="author">
        di <a href="/profile/{{ event.author.username }}">{{ event.author.username }}</a>
    </div>
    <div class="description">
        {{ (escape(event.description)).replace("\n", "<br>"|safe) }}
    </div>
</div>