<div class="box">
    <div class="upper-box">
        Noi in vari giochi
    </div>
    <div class="lower-box">
        <ul>
            <li><a href="{{ url_for("page_game", name="ryg") }}">Royal Games</a></li>
            <li><a href="{{ url_for("page_game", name="halloween2018") }}">Halloween 2018</a></li>
            <li><a href="{{ url_for("page_game", name="tg") }}">Telegram</a></li>
            <li><a href="{{ url_for("page_game", name="discord") }}">Discord</a></li>
            <li><a href="{{ url_for("page_game", name="steam") }}">Steam</a></li>
            <li><a href="{{ url_for("page_game", name="dota") }}">Dota 2</a></li>
            <li><a href="{{ url_for("page_game", name="lol") }}">League of Legends</a></li>
            <li><a href="{{ url_for("page_game", name="ow") }}">Overwatch</a></li>
            <li><a href="{{ url_for("page_game", name="osu") }}">osu!</a></li>
        </ul>
    </div>
</div>