<div class="box">
    <div class="upper-box">
        Cosa siamo?
    </div>
    <div class="lower-box">
        La Royal Games è una community di gamer di tutti i tipi che sono capitati insieme più o meno per caso, e continuano a trovarsi spesso online per parlare e giocare insieme.<br>
        Essendo nata <a href="{{ url_for("page_wiki", key="Storia della Royal Games") }}">parecchi anni fa</a>, all'interno di essa si è sviluppata una particolare cultura che la rende unica in tutto l'Internet.
    </div>
</div>