<script>
    function createpage() {
        var key = document.getElementById("input-key").value;
        window.location.href = `/wiki/${key}`;
    }
</script>
<div class="box">
    <div class="upper-box">
        Pagine Wiki
    </div>
    <div class="lower-box">
        <ul class="multicolumn">
            {% for page in wiki_pages %}
                <li><a href="/wiki/{{ page.key }}">{{ page.key }}</a></li>
            {% endfor %}
        </ul>
        {% if g.logged_in %}
            oppure... <input id="input-key" name="key" type="text" placeholder="Nome pagina" class="half"><button onclick="createpage()">Crea</button>
        {% endif %}
    </div>
</div>